<div class="jumbotron animal-choice">
    <div class="title-row row">
        <h2>Animal</h2>
        <label>Choose an existing animal or create a new one</label>
    </div>
    <div class="row">
        <button class="btn btn-cta btn-cta-primary square-button" (click)="goNew()">
            New
        </button>
        <button class="btn btn-cta btn-cta-primary square-button" (click)="goExisting()">
            Existing
        </button>
    </div>
</div>