<div class="jumbotron">
    <h2>Login</h2>
    <div class="form">
        <div class="form-group">
            <label for="exampleInputEmail1" class="pull-left">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" class="pull-left">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="row form-buttons">
            <div class="col-md-6 col-sm-12">
                <button class="btn btn-cta btn-cta-primary btn-block col-md-5">Sign Up</button>
            </div>
            <div class="col-md-6 col-sm-12">
                <button class="btn btn-cta btn-cta-primary btn-block col-md-5" (click)="login($event)">Login</button>
            </div>
        </div>
    </div>
</div>